@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  color-scheme: light dark;
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 05;
}

.emboss {
  box-shadow:
    -4px -4px 10px rgba(255, 255, 255, 0.1),
     5px  4px 15px rgba(0, 0, 0, 0.7);
}

.full-card {
  @apply w-full h-full rounded-2xl shadow-gray-800/40 shadow-md
}

.montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.typo-head {
  @apply text-[clamp(1rem,3vw,4rem)]
}

.typo-sub {
  @apply text-[clamp(0.6rem,1.3vw,3rem)]
}

.typo-par {
  @apply text-[clamp(0.5rem,1vw,2rem)]
}

h1 {
  font-size: clamp(2rem, 1.8vw, 4rem);
  font-weight: 500;
}
